<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Add book</h1>
	<div>
		<form th:object="${book}" th:action="@{save}" action="#" method="post">
		  	<label for="bookauthor">Author</label>
			<input type="text" id="bookauthor" th:field="*{author}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="booktitle">Title</label>
			<input type="text" id="booktitle" th:field="*{title}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="bookyear">Year</label>
			<input type="text" id="bookyear" th:field="*{year}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="bookisbn">ISBN</label>
			<input type="text" id="bookisbn" th:field="*{isbn}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="bookprice">Price</label>
			<input type="text" id="bookprice" th:field="*{price}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save" class="btn btn-success"></input>
		</form>
	</div>
</body>
</html>